h1{
    font-family: var(-eadingNarrow);
    font-size: 10rem;
    color: inherit;
    font-weight:1000;
    line-height: 1.3;
    letter-spacing: -0.4rem;
    text-align: inherit;
    padding:0 4rem;
    transform: scaleY(1);
    margin: 1rem 0 1rem 0;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    word-spacing: -10px;
    -webkit-font-smoothing: antialiased;
    animation: popAndScale 1s ease-out forwards;
}
@keyframes popAndScale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.img2{
    height: 17rem;
    position: absolute;
    top: 36%;
    left: 40%;
    animation: popAndScale 1s ease-out forwards;
}
.img3{
    height: 3rem;
    position: absolute;
    top: 28%;
    left: 50.5%;
}
.img4{
    height: 3.5rem;
    position: absolute;
    top: 51%;
    left: 38%;
    transform: scaleX(-1);
}
@keyframes slide {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
.slider{
    background-color: #FF73B5;
    color: #042f1a ;
    height: 4rem;
    white-space: nowrap;
    overflow: hidden;
    padding: 1rem 0;
    bottom: 0;
    position: fixed;
}
.list{
    animation: 12s slide infinite linear;
    display: inline-flex;
}
.list li{
    list-style: none;
    padding: 0 2.5rem;
    font-size: 1.4rem;
    font-weight: 1000;

}